<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}!

<!-- Название у нас будет Product -->
{% block title %}
Post
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1><strong>{{ post.title | censor}}</strong></h1>

        <p>{{ post.text | censor}}</p>
<hr>
<small>{{ post.time_in }}</small>
{% endblock content %}