{% extends 'flatpages/default.html' %}

{% load custom_filters %}!
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

{% block title %}
News_all
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
<h2>{% current_time '%d %b %Y' %}</h2>
    <h3>
        Количество новостей: {{ news_all|length }}</h3>
   <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->

{% if filterset.form.as_p %}
<form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

{%else%}
<button> <a href="search/">Поиск по фильтру</a> </button>
{% endif %}
   <hr>
   {% if news_all %}
       <table>
           <tr>
               <td>Название</td>
               <td>ghj</td>
               <td>Описание</td>
               <td>Дата создания</td>
           </tr>

           {% for post in news_all %}
           <tr>
               <td>{{ post.title | censor }}</td>
               <td>{% for category in post.category %}
                    <a href="{% url 'category_list' category.id %}"> {{ category }}</a>
                {% endfor %}</td>
               <td>{{ post.text|truncatewords:20 |censor}}</td>
               <td>{{ post.time_in }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новосте и статей нет!</h2>
   {% endif %}
{% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}




{% endblock content %}
