{% extends 'flatpages/default.html' %}
{% block title %}
News List
{% endblock title %}
{% block content %}
<button> <a href="http://127.0.0.1:8000/NewsPortal"> Главная</a> </button>
<h1 class="text-center">Новости - <span class="text-muted fs-6 fw-normal"> Bceгo: {{ category_news_list|length }}</span> </h1>
{% if is_not_subscriber %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm"> Подписаться</a> </p>
{% endif %}
<hr>

<ul class="list-group list-group-flush">
    {% for newspost in category_news_list %}
        <li class="list-group-item">
            <small class="fw-bold">-{{ newspost.time_create|date:'d.m.Y' }} </small>
            <a href="{% url 'post_detail' newspost.id %}">{{ newspost.title }}</a>
            <small class="text-muted">(автор: {{ newspost.author}})</small> <br>
            <small class="fw-bold">Категории:
                {% for category in newspost.categories %}
                    <a href="{% url 'category_list' category.id %}"> {{ category }}</a>
                {% endfor %}
            </small>
            <p>{{ newspost.content|truncatechars:200 }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock content %}